@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d1d1d1;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3849E6;
}

:root {
  --foreground-rgb: #f8f8f8;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: #f8f8f8;
    --background-end-rgb: #f8f8f8;
  }
}


body {
  /* color: rgb(var(--foreground-rgb)); */
  background: #f8f8f8 ;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  user-select: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
